<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	{% if page.layout != "home" %}<a href="{{ "" | absolute_url }}/" class="logo"><strong>David Gibson</strong> <span>{{ site.subtitle }}</span></a>{% endif %}
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ "" | absolute_url }}">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		<li><a href="{{ "" | absolute_url }}/projects">All Projects</a></li>
	</ul>
</nav>
